# SPDX-License-Identifier: Apache-2.0
#
# Systemd service for getting dm-crypt/LUKS keys from HPCS Key Protect
#
# George Wilson <gcwilson@linux.ibm.com>
#
# Copyright (C) 2021 IBM Corp.
#

[Unit]
Description=IBM HPCS Key Protect Boot Service
Documentation=file:///usr/share/doc/keyprotect-luks/README.md
Before=remote-fs-pre.target remote-cryptsetup.target
After=network.target network-online.target
Wants=network.target network-online.target
Conflicts=shutdown.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/keyprotect-luks.ini
ExecStart=/usr/bin/keyprotect-luks process

[Install]
RequiredBy=remote-cryptsetup.target
