# SPDX-License-Identifier: Apache-2.0
#
# Systemd service for getting dm-crypt/LUKS keys from HPCS Key Protect
#
# George Wilson <gcwilson@linux.ibm.com>
#
# Copyright (C) 2021 IBM Corp.
#

[Unit]
Description=IBM HPCS Key Protect Boot Service
#Documentation=
#Before=cryptsetup.target
After=network.target network-online.target
Wants=network.target network-online.target
Conflicts=shutdown.target

[Service]
Type=oneshot
#EnvironmentFile=-/etc/crypto-policies/back-ends/opensshserver.config
#EnvironmentFile=-/etc/sysconfig/sshd
ExecStart=/usr/local/bin/kp
#ExecReload=/bin/kill -HUP $MAINPID
#KillMode=process
#Restart=on-failure
#RestartSec=42s

[Install]
WantedBy=multi-user.target
