# SPDX-License-Identifier: Apache-2.0
#
# Systemd service for getting dm-crypt/LUKS keys from HPCS Key Protect
#
# George Wilson <gcwilson@linux.ibm.com>
#
# Copyright (C) 2021 IBM Corp.
#

[Unit]
Description=IBM HPCS Key Protect Dracut Service
Documentation=file:///usr/share/doc/hpcs-for-luks/README.md
Before=cryptsetup-pre.target
After=network.target network-online.target
Wants=cryptsetup-pre.target network.target network-online.target
Conflicts=shutdown.target
DefaultDependencies=no

[Service]
Type=oneshot
EnvironmentFile=-/etc/hpcs-for-luks.ini
ExecStart=/usr/bin/hpcs-for-luks-dracut.sh

[Install]
RequiredBy=cryptsetup.target
