# SPDX-License-Identifier: Apache-2.0
#
# Systemd service for getting dm-crypt/LUKS keys from HPCS Key Protect
#
# George Wilson <gcwilson@linux.ibm.com>
#
# Copyright (C) 2021 IBM Corp.
#

[Unit]
Description=IBM HPCS Key Protect Dracut Service
Documentation=file:///usr/share/doc/hpcs-for-luks/README.md
Before=remote-fs.target remote-cryptsetup.target
After=network.target network-online.target
#After=network-online.target
#After=dracut-pre-mount.service
#After=sysinit.target
Wants=network.target network-online.target
Conflicts=shutdown.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/hpcs-for-luks.ini
ExecStart=/usr/bin/hpcs-for-luks-dracut.sh

[Install]
#RequiredBy=local-fs-pre.target initrd-root-device.target cryptsetup.target
RequiredBy=remote-cryptsetup.target
RequiredBy=dracut-pre-mount.service
