Package: keyprotect-luks
Version: 1.0
Architecture: all
Maintainer: George Wilson <gcwilson@us.ibm.com>
Description: Integration between IBM Key Protect and LUKS
 You can add a longer description here. Mind the space at the beginning of this paragraph.
